<%#
  Arquivo: app/views/foton_cash_flow/settings/_cash_flow_settings.html.erb
  Descrição: Partial com os campos de configuração, agora organizada em cards.
%>

<div class="cf-settings-grid">

  <!-- Card: Opções de Exibição -->
  <div class="cf-settings-card">
    <div class="cf-settings-card-header">
      <h3 class="cf-settings-card-title"><i class="icon <%= l('foton_cash_flow.settings.display_options.icon') %>"></i><%= l('foton_cash_flow.settings.display_options.title') %></h3>
    </div>
    <div class="cf-settings-card-body">
      <div class="cf-form-group">
        <label><%= l('foton_cash_flow.settings.display_options.default_columns') %></label>
        <% columns = [
          ['entry_date', l('foton_cash_flow.fields.entry_date')],
          ['transaction_type', l('foton_cash_flow.fields.transaction_type')],
          ['amount', l('foton_cash_flow.fields.amount')],
          ['category', l('foton_cash_flow.fields.category')],
          ['description', l('foton_cash_flow.fields.description')],
          ['notes', l('foton_cash_flow.fields.notes')]
        ] %>
        <div class="cf-columns-grid">
          <% columns.each do |col, label| %>
            <label class="cf-column-checkbox">
              <%= check_box_tag 'settings[default_columns][]', col, (@settings['default_columns']||[]).include?(col) %> <%= label %>
            </label>
          <% end %>
        </div>
        <em class="info"><%= l('foton_cash_flow.settings.display_options.default_columns_info') %></em>
      </div>

      <div class="cf-form-group">
        <label><%= l('foton_cash_flow.settings.display_options.currency') %></label>
        <%= select_tag 'settings[default_currency]',
                       options_for_select(['BRL', 'USD', 'EUR'], @settings['default_currency']),
                       class: 'cf-select2' %>
        <em class="info"><%= l('foton_cash_flow.settings.display_options.currency_info') %></em>
      </div>

      <div class="cf-form-group">
        <label class="cf-column-checkbox">
          <%= hidden_field_tag 'settings[show_in_top_menu]', '0' %>
          <%= check_box_tag 'settings[show_in_top_menu]', '1', @settings['show_in_top_menu'] == '1' %>
          <%= l('foton_cash_flow.settings.display_options.show_in_top_menu') %>
        </label>
        <em class="info"><%= l('foton_cash_flow.settings.display_options.show_in_top_menu_info') %></em>
      </div>
    </div>
  </div>

  <!-- Card: Escopo dos Dados -->
  <div class="cf-settings-card">
    <div class="cf-settings-card-header">
      <h3 class="cf-settings-card-title"><i class="icon <%= l('foton_cash_flow.settings.data_scope.icon') %>"></i><%= l('foton_cash_flow.settings.data_scope.title') %></h3>
    </div>
    <div class="cf-settings-card-body">
      <div class="cf-form-group">
        <label><%= l('foton_cash_flow.settings.data_scope.custom_projects') %></label>
        <%= select_tag 'settings[custom_projects][]',
          options_from_collection_for_select(Project.active.order(:name), 'id', 'name', (@settings['custom_projects']||[])),
          multiple: true, class: 'cf-select2' %>
        <em class="info"><%= l('foton_cash_flow.settings.data_scope.custom_projects_info') %></em>
      </div>
      <div class="cf-form-group">
        <label><%= l('foton_cash_flow.settings.data_scope.permanent_users') %></label>
        <%= select_tag 'settings[permanent_users][]',
          options_from_collection_for_select(User.active.order(:login), 'id', 'login', (@settings['permanent_users']||[])),
          multiple: true, class: 'cf-select2' %>
        <em class="info"><%= l('foton_cash_flow.settings.data_scope.permanent_users_info') %></em>
      </div>
    </div>
  </div>

  <!-- Card: Categorias -->
  <div class="cf-settings-card">
    <div class="cf-settings-card-header">
      <h3 class="cf-settings-card-title"><i class="icon <%= l('foton_cash_flow.settings.categories.icon') %>"></i><%= l('foton_cash_flow.settings.categories.title') %></h3>
    </div>
    <div class="cf-settings-card-body">
      <div class="cf-form-group">
        <em class="info"><%= l('foton_cash_flow.settings.categories.categories_info') %></em>
        <div id="cf-categories-list">
          <% (@settings['categories'] || []).reject(&:blank?).each_with_index do |category, index| %>
            <div class="cf-category-item">
              <%= text_field_tag 'settings[categories][]', category, id: "category_#{index}" %>
              <%= link_to '', '#', class: 'icon icon-del delete-category-btn', title: l('foton_cash_flow.general.delete') %>
            </div>
          <% end %>
        </div>
        <%= link_to l('foton_cash_flow.settings.categories.add_category'), '#',
            class: 'cf-btn cf-btn-secondary icon icon-add cf-add-category-btn',
            data: { delete_text: l('foton_cash_flow.general.delete') } %>
      </div>
    </div>
  </div>

  <!-- Card: Manutenção -->
  <div class="cf-settings-card">
    <div class="cf-settings-card-header">
      <h3 class="cf-settings-card-title"><i class="icon <%= l('foton_cash_flow.settings.maintenance.icon') %>"></i><%= l('foton_cash_flow.settings.maintenance.title') %></h3>
    </div>
    <div class="cf-settings-card-body">
      <div class="cf-form-group">
        <em class="info"><%= l('foton_cash_flow.settings.maintenance.diagnostics_info') %></em>
      </div>
      <div class="cf-diagnostics-link-wrapper">
        <%= link_to l('foton_cash_flow.settings.maintenance.diagnostics_link'), foton_cash_flow_diagnostics_path, class: 'cf-btn cf-btn-secondary icon icon-health' %>
      </div>
    </div>
  </div>

</div>
