<% content_for :header_tags do %>
  <%= stylesheet_link_tag "cash_flow_main", plugin: 'foton_cash_flow' %>
  <%= javascript_include_tag "cash_flow_settings", plugin: 'foton_cash_flow' %>
<% end %>

<% if User.current.admin? %>
  <div class="cf-settings-page">
    <div class="cf-header">
      <h2 class="icon icon-settings"><%= l('foton_cash_flow.settings.title') %></h2>
    </div>

    <p><%= l('foton_cash_flow.settings.description') %></p>

    <%= form_for :settings, url: cash_flow_settings_path, method: :post, html: { class: 'cf-settings-form' } do |f| %>
      <%= render partial: 'cash_flow_settings', locals: { f: f } %>

      <%= submit_tag l('foton_cash_flow.settings.save_button'), class: 'cf-btn cf-btn-primary' %>
    <% end %>
  </div>
<% else %>
  <div class="cf-admin-only-panel">
    <div class="cf-admin-only-content">
      <h3 class="icon icon-lock"><%= l('foton_cash_flow.settings.admin_only.title') %></h3>
      <p><%= l('foton_cash_flow.settings.admin_only.message') %></p>
      <%= link_to l('foton_cash_flow.settings.admin_only.back_button'), :back, class: 'cf-btn cf-btn-secondary icon icon-cancel' %>
    </div>
  </div>
<% end %>