<%# 
  Arquivo: app/views/foton_cash_flow/entries/_actions_menu.html.erb
  Descrição: Menu suspenso para ações globais da página.
%>
<div class="cf-dropdown">
  <button class="cf-btn cf-btn-secondary cf-dropdown-toggle" id="actions-menu-btn">
    <%= l('foton_cash_flow.general.actions') %> <i class="icon icon-arrow-down"></i>
  </button>
  <div class="cf-dropdown-menu" id="actions-dropdown-menu">
    <a href="#" class="cf-dropdown-item" data-toggle="modal" data-target="#syncModal">
      <i class="icon icon-reload"></i> <%= l('foton_cash_flow.general.sync') %>
    </a>
    <a href="<%= import_form_project_cash_flow_entries_path(@project) %>" class="cf-dropdown-item">
      <i class="icon icon-upload"></i> <%= l('foton_cash_flow.general.import_csv') %>
    </a>
    <a href="<%= export_project_cash_flow_entries_path(@project, format: :csv, **(@filter_params || {})) %>" class="cf-dropdown-item">
      <i class="icon icon-download"></i> <%= l('foton_cash_flow.general.export_csv') %>
    </a>
  </div>
</div>