<% # plugins/foton_cash_flow/app/views/foton_cash_flow/entries/_filter_form.html.erb %>

<div class="query-form" id="cash-flow-filters">
  <%= form_tag cash_flow_entries_path(project_id: project), method: :get do %>
    <fieldset>
      <legend><%= l(:label_filter_results) %></legend>
      <p>
        <%= label_tag :status, l(:field_status) %>
        <%= select_tag :status, options_for_select(cash_flow_status_collection, **@filter_params[:status]), include_blank: true %>
      </p>
      <p>
        <%= label_tag :category, l(:field_category) %>
        <%= text_field_tag :category, @filter_params[:category] %>
      </p>
      <p>
        <%= label_tag :transaction_type, l(:field_transaction_type) %>
        <%= select_tag :transaction_type, options_for_select([['Receita', 'income'], ['Despesa', 'expense']], @filter_params[:transaction_type]), include_blank: true %>
      </p>
      <p>
        <%= label_tag :from_date, l(:field_from_date) %>
        <%= text_field_tag :from_date, @filter_params[:from_date], class: 'date_issue' %>
        <%= label_tag :to_date, l(:field_to_date) %>
        <%= text_field_tag :to_date, @filter_params[:to_date], class: 'date_issue' %>
      </p>
      <p>
        <%= label_tag :order, l(:label_sort_by) %>
        <%= select_tag :order, options_for_select([
            [l(:field_date), 'date'],
            [l(:field_value), 'value'],
            [l(:field_category), 'category']
          ], @filter_params[:order]), include_blank: true %>
      </p>
      <p>
        <%= submit_tag l(:button_apply_filters), class: 'button-small' %>
        <%= link_to l(:button_clear), cash_flow_entries_path(project_id: project), class: 'button-small' %>
      </p>
    </fieldset>
  <% end %>
</div>