<%# plugins/foton_cash_flow/app/views/foton_cash_flow/entries/_sync_modal.html.erb %>

<div class="modal fade" id="syncModal" tabindex="-1" role="dialog" aria-labelledby="syncModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="syncModalLabel"><%= l(:title_check_and_sync) %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= l(:text_cash_flow_sync_explanation) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= l(:button_cancel) %></button>
        <%= form_tag(run_sync_foton_cash_flow_diagnostics_path, method: :post) do %>
          <%= hidden_field_tag 'redirect_to_entries', 'true' %>
          <%= hidden_field_tag 'project_id', @project.identifier %>
          <%= submit_tag l(:button_sync_now), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%# Fim do arquivo _sync_modal.html.erb %>
