<%# plugins/foton_cash_flow/app/views/foton_cash_flow/entries/index.html.erb %>

<h2>
  <%= l(:label_foton_cash_flow_entries) %>
  <%= render partial: 'foton_cash_flow/entries/sync_btn' %>
</h2>
<% if @dependencies_met == false %>
  <div class="alert alert-warning" role="alert">
    <%= l(:warning_cash_flow_dependencies_not_met_full) %>
  </div>
  <%= render partial: 'foton_cash_flow/entries/sync_modal' %>
<% elsif @query.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

<% if @issues_for_table.present? %>

  <div class="cf-table-container cf-layout-sidebar">
    <div class="cf-table-wrapper">
      <%= render partial: 'foton_cash_flow/entries/table', locals: {
          project: @project,
          issues_for_table: @issues_for_table,
          issue_count: @issue_count,
          issue_pages: @issue_pages,
          limit: @limit
      } %>
    </div>
    
    <%= render partial: 'foton_cash_flow/entries/summary', locals: {
        total_revenue: @total_revenue,
        total_expense: @total_expense,
        balance: @balance
    } %>
  </div>

  <%= render partial: 'foton_cash_flow/entries/charts', locals: {
    bar_chart_labels: @bar_chart_labels,
    bar_chart_revenue: @bar_chart_revenue,
    bar_chart_expense: @bar_chart_expense,
    pie_chart_labels: @pie_chart_labels,
    pie_chart_data: @pie_chart_data,
    balance_chart_labels: @balance_chart_labels,
    balance_chart_data: @balance_chart_data,
    cumulative_revenue_labels: @cumulative_revenue_labels,
    cumulative_revenue_data: @cumulative_revenue_data,
    cumulative_expense_data: @cumulative_expense_data
  } %>

<% end %>

<%# Fim do arquivo index.html.erb %>